name: Go syntax and format check

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  check:
    name: Check formatting and minimal code style
    runs-on: ubuntu-latest
    steps:

    - name: Set up go
      uses: actions/setup-go@v5
      with:
        go-version: '1.22'

    - name: Check out code
      uses: actions/checkout@v4

    - name: Check go formatting
      run: |
        if [ -n "$(gofmt -l .)" ]; then
          echo "go code is not formatted:"
          gofmt -d .
          exit 1
        fi

    - name: Run go vet
      run: go vet ./...

    - name: golangci-lint
      uses: golangci/golangci-lint-action@v6
      with:
        version: v1.58