name: Go tests and app build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test-and-build:
    name: Run tests and build the app
    runs-on: ubuntu-latest
    steps:

    - name: Set up go
      uses: actions/setup-go@v5
      with:
        go-version: '1.22'

    - name: Check out code
      uses: actions/checkout@v4

    - name: Run go tests
      run: go test -v ./...

    - name: Build the app
      run: go build ./...